{% extends 'base.html.twig' %}

{% block title %}Me connecter!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <div class="log  ">
        <div>
            <div><img src="/image/connexion.png" alt="" class="imglog"></div>
        </div>

            <div>
                <h1 class="h3 mb-3 font-weight-normal infolog titleshadow">ME CONNECTER</h1>
            </div>
        
        <div class="loginmargin">
            <div class="accountext">
                <div><label for="inputEmail">E-mail</label></div>
                <div><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></div>  
            </div>
        
            <div class="accountext">
                <div><label for="inputPassword ">Mot de passe</label></div>  
                <div><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> </div>   
            </div>

            <div >
                <div class="checkbox">
                    <div><input type="checkbox">Se souvenir de moi</div>
                </div>
            <div >
                <button class="btn btn-lg btn-primary connexion" type="submit">
            CONNEXION
            </div>
        </div>
    </div>


    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

</form>
{% endblock %}
