 {% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}


	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	{% endblock %}

	{% block javascripts %}
    
    <script src="{{ asset('script/main.js') }}" defer></script>
	{% endblock %}
	<header>
        <nav class="creditnav">
            <div class="credit">Crédits : {{user.credit}}</div>
        </nav>
    </header>
	
	<div class="userprofil">
		<div class="mainuser">
			
			<div><strong>{{user.pseudo}}</strong></div>
			<img class="picturesprofil" src="{{ asset('uploads/' ~ user.photo) }}" alt="Photo de profil" >
			<div>{{user.lastname}},{{user.name}}</div>
			<div>{{user.email}}</div>
			<div><strong><a href="{{ path('profile_edit', {'id': user.id}) }}" class="find">Modifier</a></strong></div>
			<br>


			<div>
				<div class="driverpassengers">
					<div>
						<button class="driverpassenger navlink2" id="btn">Chauffeur</button>
					</div>
					<div>
						<button class="driverpassenger navlink2" id="btnpassager">Passager</button>
					</div>
				</div>

					{{ form_start(form) }}
				<div action="" class="userform hidden" id="filter">
					<div>
						<p style="font-size: 30px;">
							<strong><u>Profile Voiture</u></strong>
						</p>
					</div>


					<div class="accountext">
						<div>
							<label for="">Numéro de la plaque :</label>
						</div>
						<div>
                            {{ form_widget(form.registration) }}
                        </div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Première imatriculation :</label>
						</div>
						<div>
                            {{ form_widget(form.date_first_registration) }}
						</div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Modèle:</label>
						</div>
						<div>
                            {{ form_widget(form.model) }}
						</div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Couleur  :</label>
						</div>
						<div>
                            {{ form_widget(form.color) }}
						</div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Marque  :</label>
						</div>
						<div>
                            {{ form_widget(form.brand) }}
						</div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Energie :</label>
						</div>
						<div>
                            {{ form_widget(form.energy) }}
						</div>
					</div>

					<div class="accountext">
						<div>
							<label for="">Préférences :</label>
						</div>
						<div>
                            {{ form_widget(form.preference) }}
						</div>
					</div>
					{{ form_end(form) }}
					<h2>Mes voitures</h2>
					<ul>
						{% for car in cars %}
							<li>
								{{ car.model }}
								-
								{{ car.brand ? car.brand.libelle : 'Pas de marque' }}
								<a href="{{ path('car_show', {'slug': car.slug}) }}">Voir détails</a>
							</li>
						{% else %}
							<li>Aucune voiture enregistrée</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		<div class="currentjourney">
			<div class="journey">
				<div>
					<strong><a href="{{ path('newroute') }}" class="createlook routestyle">Créer un trajet</a></strong>
				</div>
				<strong>
					<a href="{{path('currentjourney')}}" class="createlook routestyle ">Trajet en cours</a>
				</strong>
			</div>
			<div class="historical">
				<div>
					<p><strong><u>Historique trajets</u></strong></p>
				</div>
				{% for t in trajets %}
				{% set transaction = t.creditTransactions.first %}
				<div class="historicals">

						<div href="/ecoridee/HTML/renseignement.html" class="reserved">
							<div class="backgroundhistorical">
								<div class="profilhistorical">

									<div class="destination">
										<div>
											<div>
												<div>
													<p>
														<strong>{{ t.startAt|date('d/m/Y') }}
														</strong>
													</p>
												</div>

												<div>
													<p>
														<strong>Durée environ
															{{ t.traveltime }}
															H
														</strong>
													</p>
												</div>
											</div>
											<div class="startfinish">

												<div>
													<p>
														<strong>🏁 Départ 🏁{{ t.startTown }}</strong>
													</p>
												</div>
											</div>

											<div>------------------------------------------------------------</div>
											<div class="startfinish">
												<div>
													<p>
														<strong>🎯 Arrivée 🎯:
															{{ t.endTown }}</strong>
													</p>
												</div>
											</div>
										</div>
									</div>

									<div class="priceplacehistorical">
										<div>
											<p><strong>{{ t.hour ? t.hour|date('H:i') : '' }} H</strong></p>
										</div>
										<div>
											<p>
												<strong>{{ t.passenger }}
													Passager</strong>
											</p>
										</div>
										<div>
											<p>Prix : {{ transaction ? transaction.amount : 'Non défini' }} €</p>
										</div>
									</div>
								</div>
							</div>
						</div>
        <button class="arrived driverpassenger" data-url="{{ path('renseignement', {'id': t.id}) }}" >Commentaire</button>
					</div>          
			{% endfor %}
        </div>
    </div>
</div>
		</div>
    </div>
	{% endblock %}

