{% extends 'base.html.twig' %}

{% block title %}Détails de la voiture{% endblock %}

{% block body %}
<h1>Détails de la voiture</h1>

<div class="card">

{{ form_start(form) }}
    {{ form_row(form.registration) }}
    {{ form_row(form.date_first_registration) }}
    {{ form_row(form.model) }}
    {{ form_row(form.color) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.energy) }}
    {{ form_row(form.preference) }}    
{{ form_end(form) }}

    <form method="post" action="{{ path('car_remove', {'id': car.id}) }}">
    {# <input type="hidden" name="_method" value="DELETE"> #}
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button type="submit">Supprimer</button>
</form>
</div>

<a href="{{ path('myaccount') }}">Retour</a>
{% endblock %}
