{% extends 'base.html.twig' %}

{% block title %}Covoiturage
{% endblock %}

{% block body %}


	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script src="{{ asset('script/main.js') }}" defer></script>
	{% endblock %}


	<div class="userprofilcurrentjourney">

		<div class="historical2">
			<div>
				<p>
					<strong>
						<u>Trajets en cours</u>
					</strong>
				</p>
			</div>

			{% for t in trajets %}
				{% set transaction = t.creditTransactions.first %}
				{% if t.statut == 'rien' or t.statut == 'en_cours'%}
					<div class="historicals">

						<div href="/ecoridee/HTML/renseignement.html" class="reserved">
							<div class="backgroundhistorical">
								<div class="profilhistorical">

									<div class="profil">
										<div>
											<div class="pseudo">{{t.user.pseudo}}</div>
										</div>

										<div>
											<div class="userimgsearch">
												<a href="{{ path('renseignement', {'id': t.id}) }}">
													<img class="picturesprofil" src="{{ asset('uploads/' ~ t.user.photo) }}" alt="Photo de profil"></a>
											</div>
										</div>
									</div>

									<div class="destination">
										<div>
											<div>
												<div>
													<p>
														<strong>{{ t.startAt|date('d/m/Y') }}
														</strong>
													</p>
												</div>

												<div>
													<p>
														<strong>Durée environ
															{{ t.traveltime }}
															H
														</strong>
													</p>
												</div>
											</div>
											<div class="startfinish">

												<div>
													<p>
														<strong> Départ {{ t.startTown }}</strong>
													</p>
												</div>
											</div>

											<div>------------------------------------------------------------</div>
											<div class="startfinish">
												<div>
													<p>
														<strong> Arrivée :
															{{ t.endTown }}</strong>
													</p>
												</div>
											</div>
										</div>
									</div>

									<div class="priceplacehistorical">
										<div>
											<p>
												<strong>{{ t.hour ? t.hour|date('H:i') : '' }}
												</strong>
											</p>
										</div>
										<div>
											<p>
												<strong>{{ t.passenger }}
													Passager</strong>
											</p>
										</div>
										<div>
											<p>
												<strong>{{ transaction ? transaction.amount : 'Non défini' }}€</strong>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% if app.user.id == t.user.id %}
						<form method="post" action="{{ path('statut', {'id': t.id}) }}">
							<input type="hidden" name="_token" value="{{ csrf_token('statut' ~ t.id) }}">

							<button type="submit">
								{% if t.statut == 'rien' or t.statut is null %}
									Démarrer
								{% else %}
									Arrivée
								{% endif %}
							</button>
						</form>
					{% endif %}

					<form method="post" action="{{ path('annulation', {'id': t.id}) }}">
						<button type="submit">Annuler</button>
					</form>


				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
