{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ asset('script/main.js') }}" defer></script>
{% endblock %}
    <header>
        <nav class="container titleshadow">
            <div><a href="{{ path('home') }}" class="decoration navlink">Accueil</a></div>
            <div><a href="" class="decoration navlink">Covoiturage</a></div>
            <div><a href="#" class="decoration navlink">Contact</a></div>
            <div><a href="{{ path('myaccount') }}" class="decoration navlink">Mon compte</a></div>
            <div><a href="" class="decoration navlink">Deconnexion</a></div>
        </nav>
    </header>


<div class="userprofil">
    <div class="mainuser">
        <div><p><strong>Pseudo</strong></p></div>
        <div><img src="/ecoridee/image/voiturier.jpg" alt="" class="userimg"></div>
        <div><p><strong> Kirrua Zoldik</strong></p></div>
        <div><p><u>kukurumontain@gmail.com</u></p></div>

        <div>
            <div class="driverpassengers">
                <div>
                    <button class="driverpassenger navlink2" id="btn">Chauffeur</button>
                </div>
                <div>
                    <button class="driverpassenger navlink2" id="btnpassager" >Passager</button>
                </div>
            </div>
            
            <form action="" class="userform hidden" id="filter"  >
                <div>
                    <p style="font-size: 30px;"><strong><u>Profile Voiture</u></strong></p>
                </div>                
                <div class="accountext">
                    <div>
                        <label for="">Numéro de la plaque :</label>
                    </div>
                    <div>
                        <input type="text" placeholder="AA-123-AA" class="inputaccount">
                    </div>
                </div>
                <div class="accountext">
                    <div>
                        <label for=""> première imatriculation :</label>
                    </div>
                    <div>
                        <input type="text" placeholder="15/11/1992" class="inputaccount">
                    </div>
                </div>
                <div class="accountext">
                    <div>
                        <label for="">Modèle,marque,couleur : :</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Batmobile,Renault,Noire" class="inputaccount">
                    </div>
                </div>
                <div class="accountext">
                    <div>
                        <label for="">Places disponibles :</label>
                    </div>
                    <div>
                        <input type="text" placeholder="4" class="inputaccount"> 
                    </div>
                </div>
                <div class="accountext">
                    <div>
                        <label for="">Préférences :</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Adore le noire" class="inputaccount preference">
                    </div>
                </div>
            </form>
        </div>
    </div>

{{ form_start(form) }}
    <form action="" class="trajetcreation">
            <div class="accountext">
                <div>
                    <label for="">Ville de Départ :</label>
                </div>
                <div>
                    {{ form_widget(form.startTown) }}
                </div>
            </div>

            <div class="accountext">
                <div>
                    <label for="">Heure de départ :</label>
                </div>
                <div>
                    {{ form_widget(form.hour) }}
                </div>
            </div>

            <div class="accountext">
                <div>
                    <label for="" >Ville d'Arrivée :</label>
                </div>
                <div>
                    {{ form_widget(form.endTown) }}
                </div>
            </div>

            <div class="accountext">
                <div>
                    <label for="">Date de Départ:</label>
                </div>
                <div>
                    {{ form_widget(form.startAt) }}
                </div>
            </div>


            <div class="accountext">
    <label for="">Véhicule :</label>
    <div>
        {{ form_widget(form.car, {'attr': {'class': 'inputroute'}}) }}
    </div>
</div>


            <div class="accountext">
                <div>
                    <label for="">Prix :</label>
                </div>
                <div>
                <input type="text">
                </div>
            </div>
            <div class="submitbutton">
                <div>
                    <button class="find"><strong>Enregistrer</strong></button>
                </div>
            </div>
        </form>
    </div>
    {{ form_end(form) }}
    {% endblock %}