{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ asset('script/main.js') }}" defer></script>
{% endblock %}
    <header>
        <nav class="container titleshadow">
            <div><a href="{{ path('home') }}" class="decoration navlink">Accueil</a></div>
            <div><a href="{{ path('searchcarpool') }}" class="decoration navlink">Covoiturage</a></div>
            <div><a href="#" class="decoration navlink">Contact</a></div>
            <div><a href="{{ path('myaccount') }}" class="decoration navlink">Mon compte</a></div>
            
            {% if app.user %}
            <div><a href="{{ path('app_logout') }}" class="decoration navlink">Déconnexion</a></div>
            {% else %}        
            <div><a href="{{ path('app_login') }}" class="decoration navlink">Connexion</a></div>
            {% endif %}
        </nav>
    </header>


    <div class="information">  
        <div class="infopseudo">            
            <div class=pseudo> 
                <div>
                    <div><strong>{{conducteur.pseudo}}</strong></div>
                </div>
            </div>
            <div >
                <div class="userimg"><img class="pictures" src="{{ asset('uploads/' ~ conducteur.photo) }}" alt="Photo de profil" ></div>
            </div>
            <div>
                <p><strong>{{ average|round(2) }}/5</strong></p>
            </div>
        </div>

        <div class="info">
            <div class="pricetime">

                <div>  
                    <div><strong> €</strong></div>
                </div>
                <div>  
                    <div style="font-size:25px;" ><strong>{{ trajet.startAt|date('d/m/Y') }}</div>
                </div>
                <div>
                    <div>{{trajet.passenger}} Passager(s)</div>
                </div>

            </div>

            <div>
                <div class="info2">
                    
                    <div>
                        <div><u><strong>Départ {{ trajet.hour ? trajet.hour|date('H:i') : '' }} de {{trajet.startTown}} </strong></u></div>
                    </div>
                </div>

                <div class="info2">
                    <div>
                        <div><strong></strong></div>
                    </div>
                    <div>
                        <div><u><strong>Arrivée {{trajet.endTown}}</strong></u></div>
                    </div>
                </div>

                <div class="info2">
                    
                    <div>
                        <div><em><strong>Durée environ {{trajet.traveltime}} </strong></em></div>
                    </div>
                </div>

            </div>
            <div class="preference">
                <div>
                    <strong>préférence: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eum reiciendis optio quod suscipit odit? Accusantium veritatis laudantium porro, nesciunt rem ratione nam corporis quae cupiditate dolor nulla, tenetur et?</strong>
                </div>
            </div>

        </div>

        <div class="car"> 

            <div class="places">
                
                <div>
                    <p ><strong>{{conducteur.lastname}}/{{conducteur.name}}</strong></p>
                </div>               
            </div>

            <div>
                <img src="/ecoridee/image/batmobile.jpg" alt="voiture ecologique" class="carimg2">
            </div>

            <div class="brand">
                <div><strong>Batlmobile</strong>,</div>
                <div><strong>Renault</strong></div>
            </div>

            <div>
                <img src="/ecoridee/tools/voiture-electrique.png" alt="electric car" class="eleccar">
            </div>
        </div>
    </div>

<div class="titlecomment">
    <div>
        <strong>COMMENTAIRES</strong>
    </div>
</div>
{% if canComment %}

{{form_start(form)}}
    <div class="comment1" >
        <div class="comment">
            <div>
                </div>
            <div>
                {{form_widget(form.comment)}}
            </div>
        </div>

        <div class="comment">
            <div>
                <div>Note {{form_widget(form.note)}}</div>
            </div>
        </div>
        <button type="submit">Valider</button>
    </div>
{{form_end(form)}}
{% endif %}
{% for comment in comments %}
{% if comment.statut == 'checked' %}
    <div class="comment1" >
        <div class="comment">
            <div>
                <div><img class="picturesprofil" src="{{ asset('uploads/' ~ participant.photo) }}" alt="Photo de profil" ></div>
                <div><p><strong>{{ comment.user.pseudo }}</strong></p></div>
            </div>
            <div>
                <div>{{comment.comment}}</div>
            </div>
        </div>

        <div class="comment">
            <div>
                <div>{{comment.note}}/5</div>
            </div>
        </div>
        
    </div>
{% endif %}
{% endfor %}
{% endblock %}