{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ asset('script/main.js') }}" defer></script>
{% endblock %}
    <header>
        <nav class="container titleshadow">
            <div><a href="{{ path('home') }}" class="decoration navlink">Accueil</a></div>
            <div><a href="{{ path('searchcarpool') }}" class="decoration navlink">Covoiturage</a></div>
            <div><a href="#" class="decoration navlink">Contact</a></div>
            <div><a href="{{ path('myaccount') }}" class="decoration navlink">Mon compte</a></div>
            
            {% if app.user %}
            <div><a href="{{ path('app_logout') }}" class="decoration navlink">Déconnexion</a></div>
            {% else %}        
            <div><a href="{{ path('app_login') }}" class="decoration navlink">Connexion</a></div>
            {% endif %}
        </nav>
    </header>




<div class="searchcar">
    <div class="searchcar">
        {{ form_start(form,{'action': path('searchcarpool'), 'method': 'POST'}) }}

            {{form_widget(form.startTown) }}
            {{ form_widget(form.endTown) }}
            {{ form_widget(form.passenger) }}
            {{ form_widget(form.startAt) }}
            {{ form_widget(form.hour) }}
                <button class="find" type="submit">Rechercher</button>

        <div class="order1">
            <button class="sort" id="btns" type="button">TRIEZ PAR 🡇</button>
            
            <div class="filtered hidden" id="filters">
                    <label class="souligne"><strong>PRIX</strong></label>
                <div class="title">
                    <div>{{ form_widget(form.price) }}</div> 
                </div>

                <div class="title">
                    <label class="souligne"><strong>TEMPS</strong></label>
                    {{ form_widget(form.traveltime) }}
                </div>

                <div class="title">
                    <label class="souligne"><strong>VOITURE ECO</strong></label>
                    {{ form_widget(form.electric) }}
                </div>

                <div class="title">
                    <label class="souligne"><strong>NOTE</strong></label>
                    {{ form_widget(form.note) }}
                </div>

            </div>
        </div>
                    {{ form_end(form) }}
    </div>
</div>

</div>
    {% for trajet in trajets %}
{% if trajet.statut == constant('App\\Entity\\Carpooling::STATUT_RIEN')or trajet.statut == constant('App\\Entity\\Carpooling::STATUT_EN_COURS') %}
    <div href="/ecoridee/HTML/renseignement.html" class="reserved">        
            <div class="backgroundhistorical">
                <div class="profilhistorical">
                <div class="profil">
                    <div>
                        <div>{{trajet.user.pseudo}}</div>
                    </div>
                    <div>
                        <div class="userimg"><img class="pictures" src="{{ asset('uploads/' ~ trajet.user.photo) }}" alt="Photo de profil" ></div>
                    </div>
                    <div>
                        <div></div>
                    </div>                
                </div>
                    <div class="destination">
                        <div>
                            <div class="time">
                                
                                <div>
                                    </p><strong>{{ trajet.startAt|date('d/m/Y') }}</strong><p>
                                </div>
                                    <em>Durée environ {{ trajet.travelTime }} H</em>
                                </p>
                                    
                            </div>
                            <div class="startfinish">
                            
                                <div>
                                    <p><strong> Départ : {{ trajet.startTown }}</strong></p>
                                </div>
                            </div> 
                            
                            <div >------------------------------------------------------------</div>
                            <div class="startfinish">
                                <div>
                                    <p><strong>Arrivée : {{ trajet.endTown }} </strong></p>
                                </div>
                            </div> 
                        </div>                               
                    </div>

                    <div class="priceplacehistorical">
                        <div>
                            {% if trajet.electric %}
                            <img class ="eleccar" src="{{ asset('image/voiture-electrique.png') }}" alt="icone voiture electrique">
                            {% endif %}
                        </div>
                            <div>
                                <strong>{{ trajet.hour ? trajet.hour|date('H:i') : '' }}</strong>
                            </div>
                        <div>
                            <p><strong>{{ trajet.passenger }} place(s)</strong></p>
                        </div>
                        <div>
                            <div><strong>{{ trajet.price }} €</div>
                        </div>
                    </div>               
                </div>
            </div>  
            <div><a class="reservedbutton" href="{{ path('participer', {'id': trajet.id}) }}"><strong>Participer</strong></a></div>
        </div> 
    </div>
    {% elseif trajet.statut == constant('App\\Entity\\Carpooling::STATUT_TERMINE') %}
{% endif %}
{% endfor %}
{% endblock %}

